//Styles for the generated articles


.article-grid{
	width: 100vw;
	flex-flow: row wrap;

}
.indv-article{
	position: relative;
	flex: 0 0 100%;
	overflow: hidden;
	@include tablet {
		flex: 0 0 50%;
	}
	@include desktop {
		flex: 0 0 25%;
	}
	&:hover{
		.abstract{
			height: auto;
			bottom: 0;
			transition: all ease .6s;
		}
	}
}
.article-bkgrnd{
	background-size: cover;
	background-position: top;
	height: 25rem;

}
.abstract{
	position: absolute;
	padding: $base-padding;
	background-color: rgba(0,0,0,.5);
	height: 0px;
	bottom: -10rem;
	
	p {
		line-height: $line-height;
	}	

}