/**************************** FONTTTSSS ******************************/
@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/opensans-light-webfont.eot');
	src: url('../assets/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/opensans-light-webfont.woff2') format('woff2'),
	url('../assets/fonts/opensans-light-webfont.woff') format('woff'),
	url('../assets/fonts/opensans-light-webfont.ttf') format('truetype'),
	url('../assets/fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
	font-weight: normal;
	font-style: normal;

}
@font-face {
	font-family: 'Open Sans';
	src: url('../assets/fonts/opensans-lightitalic-webfont.eot');
	src: url('../assets/fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
	url('../assets/fonts/opensans-lightitalic-webfont.woff') format('woff'),
	url('../assets/fonts/opensans-lightitalic-webfont.ttf') format('truetype'),
	url('../assets/fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
	font-weight: normal;
	font-style: italic;
}