/* HEADER STYLES FOR INSTANEWS */


//Base header styles
.header-area{
	height: 90vh;
	text-align: center;

	.logo{
		padding-bottom: $base-padding/2;
		transition: all 1s ease;
		@include tablet {
			margin-right: $base-margin;
		}
		img {
			width: 9.5rem;
		}
	}
	.choose{
		padding-bottom: $base-padding * .5;
	}
	@include tablet {
		text-align: left;
		flex-flow: row wrap;	
	}
	@include desktop {
		justify-content: flex-start;
		.logo{
			margin-right: $base-margin*2;
		}
	}
}
//Header styles for when a news selection is chosen.
.header-shrink{
	height: auto;
	padding: $base-padding;
	transition: all ease 0.6s;
	
	@include tablet {
		text-align: left;
		.logo{
			padding: 0 $base-padding*3 0 $base-padding*2;
			img{
				width: 6.5rem;
			}
		}	
	}
	@include desktop {
		.logo{
			padding-left: 0;
		}	
	}
}