/* VARIABLES FOR INSTANEWS */


// Typography
$font-stack: 'Open Sans', Helvetica, sans-serif;
$base-fontsize: 16px;
$line-height: 1.5rem;

// Colours
$black: black;
$white: white;
$light-grey: #c2c2c2;
$black-overlay: rgba(0,0,0,.5);

// Spacing
$base-margin: 2rem;
$base-padding: 2rem;

//Media queries
$desktop-width: 1000px;
$tablet-width: 600px;
$mobile-width: 480px;