/**************************** FONTTTSSS ******************************/
@font-face {
    font-family: 'Open Sans';
    src: url('../../dev/assets/fonts/opensans-bold-webfont.eot');
    src: url('../../dev/assets/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../dev/assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../../dev/assets/fonts/opensans-bold-webfont.woff') format('woff'),
         url('../../dev/assets/fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('../../dev/assets/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: bold;
    font-style: normal;

 }
@font-face {
    font-family: 'Open Sans';
    src: url('../../dev/assets/fonts/opensans-bolditalic-webfont.eot');
    src: url('../../dev/assets/fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../dev/assets/fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
         url('../../dev/assets/fonts/opensans-bolditalic-webfont.woff') format('woff'),
         url('../../dev/assets/fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
         url('../../dev/assets/fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;

 }
@font-face {
    font-family: 'Open Sans';
    src: url('../../dev/assets/fonts/opensans-light-webfont.eot');
    src: url('../../dev/assets/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../dev/assets/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../../dev/assets/fonts/opensans-light-webfont.woff') format('woff'),
         url('../../dev/assets/fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../../dev/assets/fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

 }
@font-face {
    font-family: 'Open Sans';
    src: url('../../dev/assets/fonts/opensans-lightitalic-webfont.eot');
    src: url('../../dev/assets/fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../dev/assets/fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../../dev/assets/fonts/opensans-lightitalic-webfont.woff') format('woff'),
         url('../../dev/assets/fonts/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('../../dev/assets/fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: italic;

 }

// Fontss
$font-stack: 'Open Sans', Helvetica, sans-serif;
$base-fontsize: 16px;
$line-height: 1.5rem;

// Colour Variables
$black: black;
$white: white;
$black-overlay: rgba(0,0,0,.5);

// Spacing
$base-margin: 2rem;
$base-padding: 2rem;

//Media queries
$desktop-width: 1000px;
$tablet-width: 600px;
$mobile-width: 480px;

@mixin desktop{
  @media (min-width: $desktop-width) {
    @content;
  }
}

@mixin tablet{
	@media (min-width: $tablet-width){
		@content;
	}
}
@mixin mobile{
	@media (min-width: $mobile-width){
		@content;
	}
}
// Base body Styles
* {
	box-sizing: border-box;
}

body {
	background-color: $black;
	color: white;
	font-size: $base-fontsize;
	font-family: $font-stack;
}
a {
	text-decoration: none;
	color: $white;
}
.container{
	margin: 0 auto;
	width: 100%;
}
//Making Flex Containers Mobile
.header-area,
.articles,
.article-grid,
.footer-area{
	display:flex;
	flex-flow: column;
	justify-content:center;
	align-items: center;
}
.header-area{
	height: 90vh;
	padding-bottom: 20px;
	@include tablet {
		flex-flow: row wrap;
		align-items: flex-start;
	}
	@include desktop {
		justify-content:flex-start;
	}
}
.logo{
	flex: 0 1 25%;
	@include tablet {

	}
}
.header-top{
	height: 10vh;
}

.loading{
	img {
		width: 50px;
		height: 50px;
	}
}
.article-grid{

	@include mobile {
		flex-flow: row wrap;

	}
}
.indv-article{
	flex: 0 0 100%;

	@include mobile {
		flex: 0 0 50%;

	}
	@include desktop {
		flex: 0 0 25%;

	}
}
.article-bkgrnd{
	background-size: cover;
	background-position: center;
	// width: 100%;
	height: 400px;
	//to position the abstract
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-end;
	
}

.abstract{
	padding: 1rem;
	background-color: rgba(0,0,0,.6);
	p {
		line-height: $line-height;
	}
}

.footer-area{
	height: 10vh;
	@include desktop {
		align-items: flex-start;
	}
}




















// // BODY STYLES

// *{
// 	box-sizing: border-box;
// }

// body{
// 	background-color: $black;
// 	color: $white;
// 	font-size: $base-fontsize;
// 	font-family: $font-stack;
// }
// header{
// 	display: flex;
// 	flex-flow: column wrap;
// 	justify-content: center;
// 	align-items: center;
// }
// footer{
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// }
// .contatiner{
// 	width: 100%;
// 	margin: 0 auto;
// }


// /*  HEADER STYLES */
// .header-area{
// 	/*flex container styles*/
	
// 	@include tablet {
// 		flex-flow: row wrap;
// 	}
// 	height: 90vh;
// }
// .header-area,
// .footer-area{
// 	padding: $base-padding;
	
// 	@include desktop {
// 		justify-content: flex-start;
// 	}
// }
// .header-top {
// 	justify-content: flex-start;
// 	align-items:flex-start;
// 	height: 10vh;
// 	width: 100%;
// }

// // ARTCLE STYLES
// .article-container{
//     height: 80vh;
//     width: 100%;
//     display: flex;
//     flex-flow: row wrap;
	
//     // @include tablet {

//     // }
//     // @include desktop {

//     // }
// }

// .abstract-background{
//     background-color: rgba(0,0,0, .4);
// }
// .article-space{
//     margin-top: $base-margin;
//     height: 400px;
//     width: 100vw;
// }

// /* FORM STYLES */
// .choose{
// 	font-size: $base-fontsize / 1.25;
// 	font-weight: normal;
// }
// .choose,
// .topic-selector{
// 	margin-top: $base-margin * .75;
// }

// /* FOOTER STYLES */
// .footer-area{
// 	font-size: $base-fontsize / 1.25;
// 	height: 10vh;
// }
// .copy-right{
// 	color: #c2c2c2;
// 	margin-top: $base-margin;
// }
// .upper{
// 	text-transform: uppercase;
// }
